body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

#about,
#contact {
    padding: 20px;
}

#about {
    background-color: #f0f0f0;
}

#contact {
    background-color: #e0e0e0;
}